{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<form method="post">
    {{ form_start(registrationForm) }}
    {{ form_label(registrationForm.email, 'Email') }}
    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
    {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
    {{ form_label(registrationForm.agreeTerms, 'RGPD') }}
    {{ form_widget(registrationForm.agreeTerms) }}
    <div class="my-2">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
    {{ form_end(registrationForm) }}
</form>

{% endblock %}